@model MVC.Models.Person
<tr>  
    <td>
        @{
            //ViewData["row"] = (int) ViewData["row"] + 10;
        }
        @(ViewData["row"])        
    </td>
    <td style="border: 2px solid black; text-align: center; word-wrap: break-word;">  
        @Html.DisplayFor(modelItem => modelItem.ID)  
    </td>  
    <td style="border: 2px solid black; text-align: center; word-wrap: break-word;">  
        @Html.DisplayFor(modelItem => modelItem.Name)  
    </td>  
    <td style="border: 2px solid black; text-align: center; word-wrap: break-word;">  
        @Html.DisplayFor(modelItem => modelItem.Address)  
    </td>  
    <td style="border: 2px solid black; text-align: center; word-wrap: break-word;">  
        @Html.DisplayFor(modelItem => modelItem.ContactNumber)  
    </td>  
</tr>  