@model MVC.Models.Person
    @{
        var a = 0;
        var valuesCount = 0;
    }
<tr>  
    <td>
        @{
            //ViewData["row"] = (int) ViewData["row"] + 10;
            int r = 0;
            if (r == 0)
            {
                
            }
        }
        @(valuesCount)        
    </td>
    <td style="border: 2px solid black; text-align: center; word-wrap: break-word;">  
        @Html.DisplayFor(modelItem => modelItem.ID)  
    </td>  
    <td style="border: 2px solid black; text-align: center; word-wrap: break-word;">  
        @Html.DisplayFor(modelItem => modelItem.Name)  
    </td>  
    <td style="border: 2px solid black; text-align: center; word-wrap: break-word;">  
        @Html.DisplayFor(modelItem => modelItem.Address)  
    </td>  
    <td style="border: 2px solid black; text-align: center; word-wrap: break-word;">  
        @Html.DisplayFor(modelItem => modelItem.ContactNumber)  
    </td>  
</tr>  